html {
 font-size: 1em;
 font-family: serif;
}
body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.questions {
  color: white;
}
img {
  max-width: 100%;
  max-height: 70%;
}
.masthead {
    padding: 100% 10rem;
    background-image: url('images/question.jpg');
    background-repeat: no-repeat;
    background-size: 70% 70%;
    border-top: solid 1rem black;
} 